.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 20px;
}

.slideshow-container {
    width: 80%;
    max-width: 800px;
    position: relative;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card-container {
    background: white;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 15px;
    width: 390px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.card-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-link {
    text-decoration: none;
    color: black;
}

.card-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.slideshow-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.slideshow-container .p-galleria-item-wrapper img {
    width: 100vw;
    height: 85vh;
    object-fit: cover;
    border-radius: 8px;
}