.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: red;
  font-color: blue;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.card2 {
  position: sticky;
  top: 0;
  z-index: 1000;
}

html, body, #root {
  height: 100%;
  margin: 0;
}

.page-container {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

footer {
  background-color: #eee;
  text-align: center;
  padding: 1rem;
  margin-bottom: 0%;
}

.product-card {
    background: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    transition: transform 0.3s, box-shadow 0.3s;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.product-image {
    width: 80%;
    border-radius: 1rem;
}

.product-name {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

.product-price {
    font-size: 1.3rem;
    color: #2f855a;
}

.action-buttons button {
    margin-left: 0.5rem;
}

.product-tag {
    width: 3rem;
    text-align: center;
}

.data-view-header {
    margin-bottom: 1rem;
}

.list-item {
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    background: #fff;
    padding: 1rem;
    transition: transform 0.3s, box-shadow 0.3s;
}

.list-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.promo-bar {
  background-color: #979797;
  color: white;
  padding: 1.7rem;
  font-size: 1rem;
  font-family: "Roboto", "narkisblock", "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  height: 40px;
  overflow: hidden;
  direction: rtl;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
}
